{{- $nvm := "" -}}

{{- $meteor := promptBoolOnce . "meteor" "Setup Meteor" -}}

{{- if $meteor -}}
{{-   $nvm = true -}}
{{- else -}}
{{-   $nvm = promptBoolOnce . "nvm" "Setup NVM" -}}
{{- end -}}

{{- $golang := promptBoolOnce . "golang" "Setup Golang" -}}

[data]
  meteor = {{ $meteor }}
  nvm = {{ $nvm }}
  golang = {{ $golang }}

[interpreters.sh]
  command = 'bash'
